html {
  background-color: #bcbcbc;
  text-align: center;
}

.reliable {
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  color: #383838;

}

.powered {
  font-family: sans-serif;
  margin-top: 0;
}

.paragraph {
  width: 35%;
  margin: 0 0 50px 385px;
}

.header-text {
  font-size: .85em;
  color: #969696;
}

.cards {
  float: left;
  width: 100%;
}

.supervisor {
  background-color: #c9c9c9;
  overflow: hidden;
  width: 25%;
  display: inline-block;
  margin: 0 20px 100px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .20), 0 6px 20px 0 rgba(204, 229, 255, .20);
  border-top: 3px solid #8FE5E5;
}

.t-b-k {
  display: inline-block;
  width: 25%;
}

.team-builder {
  background-color: #c9c9c9;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .20), 0 6px 20px 0 rgba(204, 229, 255, .20);
  border-top: 3px solid #EA5353;
}

.karma {
  background-color: #c9c9c9;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .20), 0 6px 20px 0 rgba(204, 229, 255, .20);
  border-top: 3px solid #FCAF4A;
}

.calculator {
  background-color: #c9c9c9;
  overflow: hidden;
  width: 25%;
  display: inline-block;
  margin: 0 0 100px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .20), 0 6px 20px 0 rgba(204, 229, 255, .20);
  border-top: 3px solid #549EF2;
}

.supervisor-text {
  text-align: left;
  margin: 0 50px 0 30px;
  font-family: sans-serif;
  color: #969696;
}

.team-builder-text {
  text-align: left;
  margin: 0 50px 0 30px;
  font-family: sans-serif;
  color: #969696;
}

.karma-text {
  text-align: left;
  margin: 0 50px 0 30px;
  font-family: sans-serif;
  color: #969696;
}

.calculator-text {
  text-align: left;
  margin: 0 50px 0 30px;
  font-family: sans-serif;
  color: #969696;
}

h3 {
  color: #4b4b4b;
}

p {
  font-family: sans-serif;
  font-size: .75em;
}

img {
  float: right;
  margin: 25px 20px 20px 0;
}
